nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1b2430;
    padding: 20px 80px;
}
img{
    height: 20%;
    width: 20%;
}
#navbar{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
   
}
#navbar li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}
#navbar li a:hover{
    color: #17cf97;
}
#mobile i{
    color: #fff;
}
#mobile {
    display: none;
}
@media screen and (max-width:769px) {
    #navbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #2a3239;
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile {
        display: block;
    }
    #mobile i{
        font-size: 24px;
        cursor: pointer;
    }
    #mobile i:hover{
        color: #17cf97;
    }
}