/* Footer.css */

.footer {
    /* background-color: #333; */
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    background: #1b2430;
    bottom: 0;
    position: relative;
  }
 .footer img{
    height: 90px;
    width: 180px;
  }
  .addr{
    font-weight: 300;
    font-size: 1.2rem;
  }
  .phone{
    font-weight: 500;
    margin-top: 20px;
    font-size: 1.2rem;
  }
 .footer ul{
    display: flex;
    flex-direction: column;
  }
  .link p{
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight:bold;
  }
  .link a{
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
  }
  .follow{
    margin-top: 20px;
  }
  .link ul{
    margin-top: 10px;
  }
  .link a:hover{
    color: #17cf97;
  }
  .icon a i{
    margin-top: 30%;
      font-size: 1.5rem;
      margin-left: 30px;
  }
  @media screen and (max-width:869px){
    .footer{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
    .icon a i{
      margin-top: 20px;
    }
  }
  
